.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  padding-right: 2vmin;
  padding-left: 2vmin;
  pointer-events: none;
  transform: rotate(0deg);
}
.App-logo-green {
  height: 6vmin;
  padding-right: 2vmin;
  padding-left: 2vmin;
  pointer-events: none;
  transform: rotate(0deg);
  filter: invert(85%) sepia(34%) saturate(924%) hue-rotate(66deg) brightness(300%) contrast(97%);
}

.App-logo-rot {
  height: 6vmin;
  padding-right: 2vmin;
  padding-left: 2vmin;
  pointer-events: none;
  transform: rotate(30deg);
}
.App-logo-rat {
  height: 6vmin;
  padding-right: 2vmin;
  padding-left: 2vmin;
  pointer-events: none;
  transform: rotate(60deg);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 25s linear;
  }
  .App-logo-green {
    animation: App-logo-spin infinite 25s linear;
  }
  .App-logo-rot {
    animation: App-logo-spin infinite 26s linear;
  }
  .App-logo-rat {
    animation: App-logo-spin infinite 27s linear;
  }
}

.Typebox {
  border: 1px;
  border-color: white;
  border-style: solid;
  content: "";
  width: 800px;
  margin-top: 3vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  flex-grow: 5;
}
.Chatbox{
  border: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 1em;
  padding-top: 3vmin;
  padding-bottom: 1vmin;
  width: 800px;
  height: 500px;
  display:flex;
  flex-direction: column-reverse;
  justify-content: stretch;
  overflow: hidden; 
  
}

.chat-container{
  background-color: #3d414b;
  padding: 1vmin 1vmin;
  margin: 0vmin 1vmin;
  border-radius: 0.6em;
  max-width: 35vmin;
  min-width: 25vmin;
  justify-self: start;
  justify-content: left;
  align-self: start;
  overflow: auto;
  overflow-wrap: break-word;
}
.response {
  background-color: #464e64;
  justify-content: left;
  align-self:end;
  overflow: auto;
  overflow-wrap: break-word;
}


.TextContainerWithButton { 
  margin: 20px 30px;
  background-color: #282c34;
  max-height: 100px;
  min-width: 800px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.dummy {
  display:grid;
  grid-template-columns: 10px 300px 80px 80px;
  grid-template-rows: 40px;
}
.utilButtonZone {
  align-self: left;

}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Content{
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: white; 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
